$grey: #f5f6f7;
$dark_grey: #292558;

.container {
  display: flex;
  margin: 32px auto;
  width: 1150px;
  overflow: auto;
}

.sidebar {
  box-shadow: 0 0 3px 0 rgba(126, 134, 181, 0.2);
  flex: 1 1 25%;
  background: #fff;
  border-radius: 16px;
  padding: 20px 0 0;

  img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .info-top {
    text-align: center;
    h2 {
      margin: 16px 0;
      span {
        font-weight: 400;
      }
    }

    .pill {
      display: inline-block;
      background: $grey;
      color: $dark_grey;
      font-size: 12px;
      padding: 4px 16px;
      border-radius: 20px;
    }

    svg {
      color: $dark_grey;
      width: 16px;
      height: 16px;
      margin: 16px 4px;
    }
  }

  .info-bottom {
    background: $grey;
    padding: 20px;
    border-radius: 0 0 16px 16px;
    text-align: left;

    .info-line {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        margin: 0 8px 0 0;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $dark_grey;
      }
    }
  }
}

.content-card {
  box-shadow: 0 0 3px 0 rgba(126, 134, 181, 0.2);
  flex: 1 1 75%;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  margin-left: 32px;
}
