$grey: #f5f6f7;
$dark_grey: #292558;

.container {
  display: flex;
  margin: 32px auto;
  width: 1150px;
  overflow: auto;
}

.sidebar {
  box-shadow: 0 0 3px 0 rgba(126, 134, 181, 0.2);
  flex: 1 1 25%;
  background: #fff;
  border-radius: 16px;
  padding: 25px 0 0;

  img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .info-top {
    text-align: center;
    h2 {
      margin: 16px 0;
      span {
        font-weight: 400;
      }
    }

    .pill {
      display: inline-block;
      background: $grey;
      color: $dark_grey;
      font-size: 14px;
      padding: 4px 16px;
      border-radius: 20px;
    }

    .social-icons > svg {
      color: $dark_grey;
      width: 14px;
      height: 14px;
      margin: 16px 4px;
    }
  }

  .info-bottom {
    background: $grey;
    padding: 25px;
    border-radius: 0 0 16px 16px;
    text-align: left;

    .info-line {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        color: $dark_grey;
        width: 14px;
        height: 14px;
        margin: 0 8px 0 0;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $dark_grey;
      }
    }

    a.download {
      width: 100%;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      margin-top: 20px;
      background: $dark_grey;
      color: #fff;
      border-radius: 20px;
      padding: 14px;
      box-shadow: rgba(41, 39, 95, 0.04) 0px 2px 3px 0px;

      svg {
        margin-right: 8px;
      }
    }
  }
}

.content-card {
  box-shadow: 0 0 3px 0 rgba(126, 134, 181, 0.2);
  flex: 1 1 75%;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  margin-left: 32px;
}
